/** {
}*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h6 {
	font-family: 'Lobster';
}

p {
	font-family: 'Montserrat', sans-serif;
}

nav {
	background-color: rgb(17, 134, 212);
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: rgb(17, 134, 212);
}

body {
	/*background-color: #ffe5e5;*/
	/*background-image: url(./../images/pup_2.jpg);
	background-size: 100em 100em;
	background-repeat: no-repeat;
	background-size: cover;*/
	/*background-color: #379cb8;
	background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");*/
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	background-color: #b8dff9;
	background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/*PROFILE*/

#burger {
	/*background-color: #ffe5e5;
	width:35vw;
	border-radius: 10px;*/
	background-color: #b8dff9;
	background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#hotdog {
	/*background-color: #d8e2dc /*#06304b* #0b5c8e;*/
	background-color: #0b5c8e;
	background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	border-radius: 10px;
}

.hotdog-text {
	color: white;
}

#subjs {
	color: white;
}


#btnn {
	padding: 0;
	/*background-color: #0b5c8e;*/
	border-radius: 20px;
}

#btnn a {
	color: white;
	width: 150px;
	/*height: 50px;*/
}


/*Login*/
#logInUser a {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 600px) {
  #burger {
    width: 90vw;
  }
}


/*index*/

#fries {
	text-align: center;
	padding-bottom: 5vh;
	padding-top: 5vh;
	font-style: 'Lobster';
	display: flex;
	justify-content: center;
}

.ice-cream {
	padding: 30px;
	width: auto;
	justify-content: center;
	align-items: center;
	/*background-color: #ffe5e5;*/
	border-radius: 300px;
	background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#anc {
	background-color: #0094b6;
	color: white;
}

#spag {
	background-color: #b8dff9;
	background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#lumpia {

	background-color: #0b5c8e;
	background-image: url("https://www.transparenttextures.com/patterns/ravenna.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	color: white;
}
#lumpia img {
	justify-content: center;
	align-items: center;

}

#shanghai {
	background-color: #0b5c8e;
	background-image: url("https://www.transparenttextures.com/patterns/ravenna.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	color: white;
}

#togue {
	background-color: #0b5c8e;
	background-image: url("https://www.transparenttextures.com/patterns/ravenna.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	color: white;
}

/*course*/

#cheesy {
	background-color: #ffe5e5;
	background-color: #b8dff9;
	background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	border-radius: 10px;
}

#cake {
	background-color: #0b5c8e;
	background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
	padding-bottom: 15px;
	border-radius: 5px;
}

#salad {
	
	padding: 15px;
	background-color: #0b5c8e;
	background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
	padding-top: 10px;
	padding-bottom: 10px;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	color: white;
}

#enrollButton {
	
	color: white;
}

